.card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
  }

  /* create cards that look like post-its */
  .postit {
    line-height: 1;
    text-align:center;     
    width: 275px;    
    margin: 25px;    
    min-height:250px;
    max-height:250px;
    padding-top:35px;
    position:relative; 
    border:1px solid #E8E8E8;  
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
     background: #fdfd86; 
  }

  .postit:after {     
    content: "";
   position:absolute;
   z-index:-1;
   right:-0px; bottom:20px;
   width:200px;
   height: 25px;
   background: rgba(0, 0, 0, 0.2);
   box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
 -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
       -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
          transform: matrix(-1, -0.1, 0, 1, 0, 0);
 }

  .trash_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }